<%# <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Find a repository">
  </div>
  <div class="control">
    <a class="button is-info">
      Search
    </a>
  </div>
</div> %>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification has-background-info-light">
          <!-- If User Exist Say this else say other -->
          <% if user_signed_in? %>
            <p class="title">Hello <%= current_user.email %>!</p>
            <p class="subtitle">Enjoy your shopping!</p>
            <div class="is-flex is-align-items-flex-end">
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, :class => 'button' %>
            </div>
          <% else %>
            <p class="title">Shopping? Sign In</p>
            <p class="subtitle">Click me to sign in.</p>
          <% end %>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-info-light">
          <p class="title">Laptop Showcase</p>
          <p class="subtitle"><%= @laptop.name %></p>
          <figure class="image is-4by3">
            <% if @laptop.image.present? %>
              <%= link_to image_tag(@laptop.image, alt: @laptop.name, size:"400x600"), @laptop %>
            <% else %>
              <%= link_to image_tag("laptops/laptop_example.jpg", height: 500, width: 500, alt: "laptop_example"), @laptop %>
            <% end %>
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-info-light">
        <p class="title">Looking for Deals?</p>
        <p class="subtitle">Click Me or visit the deals page via the navigation.</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification has-background-info-light">
      <div class="content">
        <p class="title"></p>
        <p class="subtitle"></p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>