<li class="column is-one-quarter">
  <% if laptop.image.present? %>
    <%= link_to image_tag(laptop.image, alt: laptop.name, size:"400x600"), laptop %>
  <% else %>
    <%= link_to image_tag("laptops/laptop_example.jpg", height: 500, width: 500, alt: "laptop_example"), laptop %>
  <% end %>

  <strong>
    <%= link_to laptop.name, laptop, {:style=>'text-decoration:none;', :class => "has-text-black"} %>
  </strong>

  <% if laptop.discount == laptop.price %>
    <p class="has-text-primary-dark"> $ <%= laptop.price %> </p>
  <% else %>
    <p class=" has-text-primary-dark">
      <del class="has-text-danger-dark">$ <%= laptop.price %></del> -
      $ <%= laptop.discount %>
    </p>
  <% end %>

  <%# Cart Add and Delete Buttons %>
    <% if cart.include?(laptop) %>
      <%= button_to cart_path(laptop), class: "button", method: :delete do %>
          Remove from cart
      <% end %>
    <% else %>
      <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, laptop.id) %>
        <%= button_tag 'Add to cart', class: "button" %>
      <% end %>
    <% end %>
</li>